<div class="diasRestantes">
  <h1>Te quedan <%= diasRestantes %> días para finalizar el curso</h1>
  <p>Inscribite con tiempo al examen presencial para el Carnet.</p>
  <button class="btn download" onclick="location.href = './calendario';">Ver mesas de examenes</button>
</div>



<script>
  let dias = '<%- diasRestantes %>';
  let renovado = '<%- userInfo.cursoConductorNautico.renovado %>';
  let estado = '<%- userInfo.cursoConductorNautico.estado %>';
  if ((dias == 'expiro' || dias <= 0) && !renovado && estado != 'aprobado') {
    mostrarCartelRenovacion();
  }
  
  if ((dias == 'expiro' || dias <= 0) && (renovado == 'true' || estado == 'aprobado')) {
    mostrarCartelFinal();
  }

  const deleteAllCookies = () => {
    // Delete sessionToken cookie from browser
    document.cookie = 'sessionToken=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
    // reload page
    location.reload();
  }


  function mostrarCartelRenovacion() {
    setTimeout(() => {
      document.getElementById('masterContainer').innerHTML = `
      
      <div style="min-height: 100vh; padding-left: 10%; padding-right: 10%; padding-top: 10%;" class="diasRestantes">
        <h1>¡Ups! Tu usuario venció.</h1>
        <p>Los 40 días de tu usuario han vencido. ¡Pero no te preocupes! Aún puedes solicitar 15 días más para finalizar el curso. Si vencen estos 15 días, luego deberás pagar el curso para acceder.</p>
        <form action="/cursos/conductor-nautico/solicitar-extension" method="post">
          <input type="text" value="<%- userInfo._id %>" name="idCode" id="idCode" hidden></input>
          <button type="submit" class="btn download">Solicitar 15 días de extensión.</button>
        </form>
      </div>

      `;
    }, 200);
  }

  function mostrarCartelFinal() {
    setTimeout(() => {
      document.getElementById('masterContainer').innerHTML = `
      
      <div style="min-height: 100vh; padding-left: 10%; padding-right: 10%; padding-top: 10%;" class="diasRestantes">
        <h1>¡Ups! Tu usuario venció.</h1>
        <p>Los días de tu usuario han vencido. Esperamos que el curso haya sido de útilidad y nos encantaría mantenernos en contacto contigo. Si tienes alguna duda o sugerencia, puedes contarnos por estos medios. <strong> ¿Crees que esto es un error? Puedes desconectarte y volver a intentarlo.</strong></p>
        <button class="btn download" onclick="window.location = 'https://wa.link/j7cr6x';">WhatsApp</button>
        <button class="btn download" onclick="window.location = 'mailito:hola@navesud.com.ar';">Correo Electrónico</button>
        <button class="btn download" onclick="deleteAllCookies()">Reintentar</button>
      </div>

      `;
    }, 200);
  }
</script>

